@import url(../sass/common.scss);
@import url(../css/result.css);

.clear:after {

    content: "";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.clear {
    zoom: 1;
}



// 轮播
.wrap {
    width: 1226px;
    margin: 0 auto;
    position: relative;
    user-select: none;

    .swiper {
        width: 100%;
        overflow: hidden;
        position: relative;

        .swiperBar {
            width: 1226*4px;
            height: 693px;
            overflow: hidden;
            position: relative;

            img {
                // position: relative;
                width: 1226px;
                height: 693px;
                top: -28px;
            }

            &>li {
                float: left;
            }
        }
    }
}

.bennav {
    display: flex;
    line-height: 45px;
    position: absolute;
    right: 50px;
    bottom: 20px;

    .swiperBar {
        width: 2000px*4;
    }

    &>li {
        flex: 1;
        text-align: center;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        font-size: 0;
        float: left;
        background-color: #fff;
    }

    &li+li {
        margin-left: 10px;
    }

    .active {
        background-color: rgba(125, 255, 255, 0.8);
        color: aliceblue;
    }
}


.ileft,
.iright {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 999;
    width: 50px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.6);
    font-size: 50px;
    line-height: 100px;
}

.ileft {
    left: 5px;
    background-image: url(../images/register/hot-arrow-right.png);
    background-position: -23px -23px;
}

.iright {
    right: 5px;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

// 图片广告
.photoben {
    margin: 0 auto;
    width: 1226px;
    // width: 100%;
    // height: 200px;
    // display: flex;
    // justify-content: space-between;
    // overflow: hidden;
    position: relative;
    // z-index: 0;
    margin-top: 25px;
    // -webkit-box-sizing: border-box;
    box-sizing: border-box;
    // border: 1px solid rgba(0, 0, 0, .14);
    border-radius: 8px;
    // background: #fff;
    // -webkit-box-shadow: 0 3px 8px -6px rgb(0 0 0 / 10%);
    box-shadow: 0 3px 8px -6px rgb(0 0 0 / 10%);

    ul {
        display: flex;
        justify-content: space-around;

        >li {

            display: block;
            flex: 1;
            width: 304px;
            height: 198px;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

// 热门商品
.home_box {
    width: 1226px;
    margin: 30px auto;
    overflow: hidden;
    position: relative;
    z-index: 0;
    margin-top: 25px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    // border: 1px solid rgba(0, 0, 0, .14);
    border-radius: 8px;
    background: #fff;
    -webkit-box-shadow: 0 3px 8px -6px rgba(0, 0, 0, .1);
    box-shadow: 0 3px 8px -6px rgba(0, 0, 0, .1);

    // clear: both;

    .storey_title {
        display: block;
        position: relative;
        font-size: 18px;
        line-height: 60px;
        color: #666;
        background: #fafafa;
        border-bottom: 1px solid rgba(0, 0, 0, .1);

        h5 {
            margin-left: 25px;
            font-weight: 700;
            font-size: 100%;
        }

        .home_page {
            position: absolute;
            right: 10px;
            top: 6px;
            height: 60px;

            a {
                display: inline-block;
                margin-left: -10px;
                border: none;
                width: 48px;
                height: 48px;
                text-align: left;
                color: #474747;
                background-color: inherit;
                background-image: url(../static/images/hot-arrow-right.png);
                background-size: 100%;
                background-repeat: no-repeat;
                cursor: pointer;
            }

            a:first-child {
                transform: rotateY(180deg);
            }

            a.disabled {
                opacity: .3;
                cursor: not-allowed;
            }
        }
    }


    .image_text_wrapper {
        position: relative;
        display: flex;

        .image_text_item {
            position: relative;
            flex: 1;
            border-right: 1px solid rgba(0, 0, 0, .1);

            div {
                margin: 30px;
                padding-bottom: 30px;

                img {
                    border-radius: 4px;
                    width: 246px;
                    height: 138px;
                    background: rgba(0, 0, 0, .1);
                }

                h5 {
                    margin: 30px 0 12px;
                    color: #333;
                    overflow: hidden;
                    width: 100%;
                    font-size: 15px;
                    line-height: 1;
                    font-weight: 700;
                    -webkit-line-clamp: 1;
                }

                p {
                    overflow: hidden;
                    font-size: 12px;
                    color: #999;
                    font-weight: 400;
                    line-height: 18px;
                }

                span {
                    display: inline-block;
                    position: absolute;
                    bottom: 30px;
                    margin-top: 12px;
                    font-size: 12px;
                    font-weight: 500;
                    color: #5079d9;

                    i {
                        display: inline-block;
                        vertical-align: middle;
                    }
                }

                a {
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }




    .homeTop {
        display: flex;
        justify-content: space-between;

        &>h5 {
            // margin-left: 25px;
            // float: left;
            flex: 1;
            padding-left: 25px;
            font-weight: bolder;
            font-size: 18px;
            line-height: 60px;
            color: #666;
            background: #ededed;
        }

        .jiantou {
            width: 50px;
            height: 60px;
            // float: right;
        }
    }


    .hot_items {
        margin: 0 -1px -1px;
        overflow: hidden;
        transition: all .5s;
        // width: 2440px;
        // transform: translate(0px, 0px);
        position: relative;
        // width: 305px;
        // height: 429px;
        // border: none;
        border-right: 1px solid #efefef;
        border-bottom: 1px solid #efefef;
        border-radius: initial;
        background: #fff;
        // -webkit-transition: -webkit-box-shadow .15s ease-out;
        transition: -webkit-box-shadow .15s ease-out;
        transition: box-shadow .15s ease-out;
        transition: box-shadow .15s ease-out, -webkit-box-shadow .15s ease-out;
        text-align: center;
        cursor: pointer;
        overflow: hidden;
        // display: flex;

        .item_four {
            height: 429px;
            width: 305px;
            position: relative;
            float: left;
            // background-color: #000;


            .product_box_item {
                width: 100%;
                height: 100%;
                border: none;
                border-right: 1px solid #efefef;
                border-bottom: 1px solid #efefef;
                border-radius: initial;
                position: relative;
                box-sizing: border-box;
                border-radius: 4px;
                transition: box-shadow .15s ease-out;
                cursor: pointer;
                background: transparent;

                .item_img {
                    img {
                        display: block;
                        width: 216px;
                        height: 216px;
                        margin: 0 auto;
                        padding: 45px 0 20px;
                    }
                }

                &>h4 {
                    line-height: 12px;
                    font-size: 14px;
                    color: #333;
                    font-weight: 500;
                    margin: 0 8px;
                    overflow: hidden;
                    text-align: center;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    text-align: center;
                }



                h6 {
                    overflow: hidden;
                    padding-top: 15px;
                    font-size: 12px;
                    line-height: 1.2;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    color: #999;
                    font-weight: 400;
                    text-align: center;
                }

                .item_price {
                    font-size: 0;
                    font-family: Arial;
                    color: #d44d44;
                    font-weight: 700;
                    margin-top: 20px;
                    text-align: center;
                    transition: all .1s ease-out;

                    .discount_price {
                        display: inline-block;

                        span {
                            font-size: 18px;
                            padding-left: 4px;

                            i {
                                font-style: normal;
                            }
                        }
                    }

                    .original_price {
                        position: relative;
                        display: inline-block;
                        padding-left: 10px;
                        font-weight: 400;
                        color: #ccc;

                        span {
                            padding-left: 2px;
                            font-size: 12px;
                            text-decoration: line-through;

                            i {
                                font-style: normal;
                            }
                        }
                    }
                }
            }


        }
    }
}


.home_box {
    width: 1226px;
    margin: 30px auto;
    overflow: hidden;
    position: relative;
    z-index: 0;
    margin-top: 25px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    // border: 1px solid rgba(0, 0, 0, .14);
    border-radius: 8px;
    background: #fff;
    -webkit-box-shadow: 0 3px 8px -6px rgba(0, 0, 0, .1);
    box-shadow: 0 3px 8px -6px rgba(0, 0, 0, .1);

    // clear: both;

    .storey_title {
        display: block;
        position: relative;
        font-size: 18px;
        line-height: 60px;
        color: #666;
        background: #fafafa;
        border-bottom: 1px solid rgba(0, 0, 0, .1);

        h5 {
            margin-left: 25px;
            font-weight: 700;
            font-size: 100%;
        }

        .home_page {
            position: absolute;
            right: 10px;
            top: 6px;
            height: 60px;

            a {
                display: inline-block;
                margin-left: -10px;
                border: none;
                width: 48px;
                height: 48px;
                text-align: left;
                color: #474747;
                background-color: inherit;
                background-image: url(../static/images/hot-arrow-right.png);
                background-size: 100%;
                background-repeat: no-repeat;
                cursor: pointer;
            }

            a:first-child {
                transform: rotateY(180deg);
            }

            a.disabled {
                opacity: .3;
                cursor: not-allowed;
            }
        }
    }


    .image_text_wrapper {
        position: relative;
        display: flex;

        .image_text_item {
            position: relative;
            flex: 1;
            border-right: 1px solid rgba(0, 0, 0, .1);

            div {
                margin: 30px;
                padding-bottom: 30px;

                img {
                    border-radius: 4px;
                    width: 246px;
                    height: 138px;
                    background: rgba(0, 0, 0, .1);
                }

                h5 {
                    margin: 30px 0 12px;
                    color: #333;
                    overflow: hidden;
                    width: 100%;
                    font-size: 15px;
                    line-height: 1;
                    font-weight: 700;
                    -webkit-line-clamp: 1;
                }

                p {
                    overflow: hidden;
                    font-size: 12px;
                    color: #999;
                    font-weight: 400;
                    line-height: 18px;
                }

                span {
                    display: inline-block;
                    position: absolute;
                    bottom: 30px;
                    margin-top: 12px;
                    font-size: 12px;
                    font-weight: 500;
                    color: #5079d9;

                    i {
                        display: inline-block;
                        vertical-align: middle;
                    }
                }

                a {
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }




    .homeTop {
        display: flex;
        justify-content: space-between;

        &>h5 {
            // margin-left: 25px;
            // float: left;
            flex: 1;
            padding-left: 25px;
            font-weight: bolder;
            font-size: 18px;
            line-height: 60px;
            color: #666;
            background: #ededed;
        }

        .jiantou {
            width: 50px;
            height: 60px;
            // float: right;
        }
    }


    .hot_items1 {
        margin: 0 -1px -1px;
        overflow: hidden;
        transition: all .5s;
        // width: 2440px;
        // transform: translate(0px, 0px);
        position: relative;
        // width: 305px;
        // height: 429px;
        // border: none;
        border-right: 1px solid #efefef;
        border-bottom: 1px solid #efefef;
        border-radius: initial;
        background: #fff;
        // -webkit-transition: -webkit-box-shadow .15s ease-out;
        transition: -webkit-box-shadow .15s ease-out;
        transition: box-shadow .15s ease-out;
        transition: box-shadow .15s ease-out, -webkit-box-shadow .15s ease-out;
        text-align: center;
        cursor: pointer;
        overflow: hidden;
        // display: flex;

        .item_four {
            height: 429px;
            width: 305px;
            position: relative;
            float: left;
            // background-color: #000;


            .product_box_item {
                width: 100%;
                height: 100%;
                border: none;
                border-right: 1px solid #efefef;
                border-bottom: 1px solid #efefef;
                border-radius: initial;
                position: relative;
                box-sizing: border-box;
                border-radius: 4px;
                transition: box-shadow .15s ease-out;
                cursor: pointer;
                background: transparent;

                .item_img {
                    img {
                        display: block;
                        width: 216px;
                        height: 216px;
                        margin: 0 auto;
                        padding: 45px 0 20px;
                    }
                }

                &>h4 {
                    line-height: 12px;
                    font-size: 14px;
                    color: #333;
                    font-weight: 500;
                    margin: 0 8px;
                    overflow: hidden;
                    text-align: center;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    text-align: center;
                }



                h6 {
                    overflow: hidden;
                    padding-top: 15px;
                    font-size: 12px;
                    line-height: 1.2;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    color: #999;
                    font-weight: 400;
                    text-align: center;
                }

                .item_price {
                    font-size: 0;
                    font-family: Arial;
                    color: #d44d44;
                    font-weight: 700;
                    margin-top: 20px;
                    text-align: center;
                    transition: all .1s ease-out;

                    .discount_price {
                        display: inline-block;

                        span {
                            font-size: 18px;
                            padding-left: 4px;

                            i {
                                font-style: normal;
                            }
                        }
                    }

                    .original_price {
                        position: relative;
                        display: inline-block;
                        padding-left: 10px;
                        font-weight: 400;
                        color: #ccc;

                        span {
                            padding-left: 2px;
                            font-size: 12px;
                            text-decoration: line-through;

                            i {
                                font-style: normal;
                            }
                        }
                    }
                }
            }


        }
    }
}

// 底部